<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd

    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- auto-config="true"就会启用匿名登录功能 -->
	<!-- access-denied-page为验证失败跳转页面 -->
	<!-- servlet-api-provision="false" 关闭保存登录之前的请求 -->
	<!-- 不要过滤图片等静态资源 -->
	<http pattern="/**/*.jpg*" security="none" />
	<http pattern="/**/*.png*" security="none" />
	<http pattern="/**/*.gif*" security="none" />
	<http pattern="/**/*.css*" security="none" />
	<http pattern="/**/*.js*" security="none" />
	<http pattern="/**/*.less*" security="none" />
	<http pattern="/**/*.svg*" security="none" />
	<http pattern="/**/*.ico*" security="none" />
	<http pattern="/**/*.mno*" security="none" />
	<http pattern="/**/*.eot*" security="none" />
	<http pattern="/**/*.ttf*" security="none" />
	<http pattern="/**/*.woff*" security="none" />

	<http auto-config="true" servlet-api-provision="false"
		access-denied-page="/signin?m=access_denied" use-expressions="true">
        <intercept-url pattern="/home" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/editor" access="hasRole('ROLE_USER')" />
        <logout invalidate-session="true"
                logout-success-url="/signin"
                logout-url="/j_spring_security_logout"/>

        <!--<session-management session-fixation-protection="none" invalid-session-url="/signin.html">
            <concurrency-control max-sessions="1" expired-url="/signin.html" />
        </session-management>-->
        <!-- 设置admin 只有 https 才能访问 可以指定端口 默认80/443 8080/8443 -->
		<!-- <intercept-url pattern="/admin.jsp" access="ROLE_ADMIN" -->
		<!-- requires-channel="https" /> -->
		<!-- <port-mappings> -->
		<!-- <port-mapping http="9000" https="9443" /> -->
		<!-- </port-mappings> -->
		<!-- 提交许可协议的才能访问 -->

		<!-- 配置执行登录的页面 以及成功和失败页面 -->
		<form-login login-page="/signin"
			authentication-failure-url="/signin?m=error"
			default-target-url="/home"
			always-use-default-target="false" />
		<!-- 配置使用数据库完成 记住我 功能 -->
		<remember-me key="vps-B1jSfiUzLHxW44AgIBhsAASuCFstQmEY43BFAUIpe" token-validity-seconds="604800"/>
		<!-- 为匿名用户设置名称 -->
		<anonymous username="Guest" />
		<!-- 取消使用session伪造攻击 登录时销毁用户的当前session，然后为用户创建一个新session，并将原有session中的所有属性都复制到新session中 -->
		<!-- <session-management session-fixation-protection="none" /> -->
		<!-- 切换用户 -->
		<custom-filter position="SWITCH_USER_FILTER" ref="switchUserProcessingFilter"/>
		<!--<custom-filter after="REMEMBER_ME_FILTER" ref="checkUserFilter"/>-->
        <session-management session-fixation-protection="none" invalid-session-url="/signin"/>
    </http>
	<!-- 如果为true则会在username和password验证成功后清除掉Authentication中的password信息 -->
	<authentication-manager erase-credentials="false">
		<authentication-provider>
			<!-- 使用与username组合的md5加密 -->
			<password-encoder hash="md5">
				<salt-source user-property="username" />
			</password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select account as username,password,status as enabled from sys_user where account=?"
				authorities-by-username-query="select u.account as username,r.name as authority from sys_user u  join user_role ur
                                               on u.user_id=ur.user_id   
                                             join role r
                                               on r.name=ur.role_name
                                            where u.account=?" />
		</authentication-provider>
	</authentication-manager>

    <!--<beans:bean id="checkUserFilter" class="com.infomorrow.filter.CheckUserFilter"/>-->

    <beans:bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url" value="${hibernate.credit.url}" />
		<beans:property name="username" value="${hibernate.credit.username}" />
		<beans:property name="password" value="${hibernate.credit.password}" />
	</beans:bean>

	<beans:bean id="switchUserProcessingFilter"
		class="org.springframework.security.web.authentication.switchuser.SwitchUserFilter"
		autowire="byType">
		<beans:property name="targetUrl" value="/index" />
	</beans:bean>
</beans:beans>