<style type="text/css">
    #previewPane {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        display: block;
        position: absolute;
        right: -155px;
        z-index: 2000;
        height: 130px;
        width: 130px;
        overflow: hidden;
    }

    #previewPane .previewContainer {
        height: 130px;
        overflow: hidden;
        width: 130px;
    }

    #change_user_info input {
        border-radius: 0px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075)
    }
</style>
<div class="panel panel-default" ng-controller="setting" xmlns="http://www.w3.org/1999/html">
    <div class="panel-heading">
        <!--<h3 class="panel-title">{{title}}</h3>-->
        <h3 class="panel-title">个人设置</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 text-center">
                    <img class="img-circle " style="height:100px;width: 100px" alt="why520crazy"
                         src="http://tp3.sinaimg.cn/2530282462/180/5669530341/1"/>
                    <a class="btn btn-sm btn-info" id="changeImg">更换图像</a>
                    <form name="form0" id="form0" class="hidden">
                        <input type="file" name="file0" id="file0" multiple="multiple"/>
                        <div class="hidden">
                            <input type="hidden" value="0" name="x1" path="x1" id="img_x1"/>
                            <input type="hidden" value="0" name="y1" path="y1" id="img_y1"/>
                            <input type="hidden" value="0" name="x2" path="x2" id="img_x2"/>
                            <input type="hidden" value="0" name="y2" path="y2" id="img_y2"/>
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <form role="form" class="im-editor" name="settingForm" id="change_user_info" novalidate ng-submit="saveChange()">
                        <div class="form-group" ng-class="{true: 'form-group has-error', false: 'form-group'}[(settingForm.name.$invalid && submitted)]">
                            <label for="userName">用户名:</label>
                            <span class="pull-right hidden" ng-class="{true:'pull-right',false:'pull-right hidden'}[settingForm.name.$dirty && settingForm.name.$invalid&& submitted]"
                                  ng-show="(settingForm.name.$dirty && settingForm.name.$invalid&& submitted)">
                                        <small ng-show="settingForm.name.$error.required">请输入昵称</small>
                                        <small ng-show="settingForm.name.$error.minlength">请输入6~15位字符</small>
                                        <small ng-show="settingForm.name.$error.maxlength">请输入6~15位字符</small>
                            </span>
                            <input placeholder="请输入昵称" id="userName"
                                   class="form-control"
                                   name="name"
                                   ng-minlength=6 ng-maxlength=20 required
                                   ng-model="user.name"/>
                        </div>
                        <div class="form-group" ng-class="{true: 'form-group has-error', false: 'form-group'}[(settingForm.email.$invalid && submitted)]">
                            <label for="email">邮箱:</label>
                            <span class="pull-right hidden" ng-class="{true:'pull-right',false:'pull-right hidden'}[settingForm.email.$dirty && settingForm.email.$invalid&& submitted]"
                                  ng-show="(settingForm.email.$dirty && settingForm.email.$invalid&& submitted)">
                                        <small ng-show="settingForm.email.$error.required">请输入邮箱</small>
                                        <small ng-show="settingForm.email.$error.minlength">请输入6~20位字符</small>
                                        <small ng-show="settingForm.email.$error.maxlength">请输入6~20位字符</small>
                                        <small ng-show="!settingForm.email.$error.minlength&&!settingForm.email.$error.maxlength&&!settingForm.email.$error.required&&settingForm.email.$invalid">请输入正确格式的邮箱地址</small>
                                    </span>
                            <input type="text"
                                   placeholder="请输入邮箱" id="email"
                                   name="email"
                                   ng-model="user.email"
                                   ng-minlength=6 ng-maxlength=20 required
                                   ng-pattern = "/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/"
                                   class="form-control"/>
                        </div>
                        <div class="form-group" ng-class="{true: 'form-group has-error', false: 'form-group'}[(settingForm.phone.$invalid && submitted)]">
                            <label for="phone">手机号码:</label>
                            <span class="pull-right hidden" class="pull-right hidden" ng-class="{true:'pull-right',false:'pull-right hidden'}[settingForm.phone.$dirty && settingForm.phone.$invalid&& submitted]"
                                  ng-show="(settingForm.phone.$dirty && settingForm.phone.$invalid&& submitted)">
                                        <small ng-show="settingForm.phone.$error.required">请输入手机号码</small>
                                        <small ng-show="settingForm.phone.$error.minlength">请输入6~20位字符</small>
                                        <small ng-show="settingForm.phone.$error.maxlength">请输入6~20位字符</small>
                                        <small ng-show="!settingForm.phone.$error.minlength&&!settingForm.phone.$error.maxlength&&!settingForm.phone.$error.required&&settingForm.phone.$invalid">请输入正确格式的手机号码</small>
                            </span>
                            <!--<input type="text" class="form-control" id="phone" placeholder="请输入手机号码">-->
                            <input type="text"
                                   placeholder="请输入手机号码" id="phone"
                                   name="phone"
                                   ng-model="user.phone"
                                   ng-minlength=6 ng-maxlength=20 required
                                   ng-pattern = "/^(13[0-9]{9}$)|(14[5-7]{9}$)|(15[0-9]{9}$)|(18[0-9]{9}$)/"
                                   class="form-control"/>
                        </div>
                        <button type="submit" id="savebtn" data-loading-text="正在保存" class="btn btn-default">保存修改</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">更换图像</h4>
            </div>
            <div class="modal-body">
                <div style="" id="primaryImg_div">
                    <img id="primaryImg" src=""
                         style="width: 400px; float: left; margin-right: 50px;display:none;"/>
                </div>
                <div id="previewPane" style="display: none;">
                    <div class="previewContainer" id="previewImg_div">
                        <img id="previewImg" style="max-width: none;height:130px;width: 130px;" alt="Preview"
                             src=""/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default" href="javascript:void(0)" id="change"><span
                        class="glyphicon glyphicon-adjust"></span> 圆图预览</a>
                <button type="button" class="btn btn-primary" id="upload">保存图片</button>
            </div>
        </div>
    </div>
</div>
<script src="js_control/setting.js" type="text/javascript"></script>
<!--<script type="text/javascript">
    var settingController = ['$scope', '$http', function ($scope, $http) {
        $scope.user = {"name":"用户名"};
    }];
</script>-->

