<!Doctype Html>
<html ng-app>
<head>
   <meta charset="utf-8">
   <!--<link rel="stylesheet" type="text/css" href="plugin/angular/ng-grid.css" />-->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
   <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
   <script type="text/javascript" src="plugin/angular/angular.js"></script>
   <script type="text/javascript" src="js_control/angulardemo.js"></script>
   <script>
       function PhoneListCtrl($scope) {
           $scope.phones = [
               {"name": "Nexus S",
                   "snippet": "Fast just got faster with Nexus S.",
                   "age": 0},
               {"name": "Motorola XOOM™ with Wi-Fi",
                   "snippet": "The Next, Next Generation tablet.",
                   "age": 1},
               {"name": "MOTOROLA XOOM™",
                   "snippet": "The Next, Next Generation tablet.",
                   "age": 2}
           ];

           $scope.orderProp = 'age';
       }
   </script>
</head>
<body>
	<div class="container" ng-control="PhoneListCtrl">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                    <option value="name">Alphabetical</option>
                    <option value="age">Newest</option>
                </select>

                <ul class="phones">
                    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                        {{phone.name}}
                        <p>{{phone.snippet}}</p>
                    </li>
                </ul>
            </div>
        </div>
	</div>
</body>
</html>